.terminos
{
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  margin-left: 5%;
  margin-right: 5%;
}

.container-fieldset
{
  background-color: #2E000F;
  border-style: solid;
  border-color: black;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 9%;
  margin-bottom: 2%;
}